#Cases {
  padding: 100px 0;
  margin-top: 10vh;

  h2 {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }

  h3 {
    color: #848484;
    margin: 0;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10vh;
    font-weight: 400;

    b {
        color: #ffffff;
    }
  }

  .col {
    margin-top: 80px;
  }

  h4 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }

  p {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #e1e1e1;
    margin-top: 20px;
  }

}
