#Hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }

  .hero-content {
    max-width: 600px;
    margin-right: 2rem;
  }

  .hero-title {
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .hero-text {
    font-family: "Poppins", sans-serif;
    color: #939393;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .hero-image {
    animation: slidein 2s ease infinite alternate;
  }

  @keyframes slidein {
    from {
      transform: translateX(-5px);
    }

    to {
      transform: translateX(5px);
    }
  }

  .button {
    background: #72c3c7;
    border: 1px solid #ffffff;
    font-family: "Poppins";
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 232px;
    height: 60px;
    color: #1f1f1f;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .buttonHover:hover {
    animation: pulse 1s infinite;
    background: #ffffff;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
