#SetupSteps {
  margin: 3rem 0;
  text-align: left;
  margin-top: 15vh;

  h2 {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }

  h3 {
    font-family: Podkova, sans-serif;
    font-size: 18px;
    margin-bottom: 2.5rem;
    color: #848484;
    max-width: 50vw;

    b {
      color: white;
    }
  }

  h4 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #141414;
    padding: 30px;
    border-radius: 15px;
    height: 530px;
    animation: shakeHead 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1;

    @keyframes shakeHead {
      0% {
        transform: rotate(0deg);
      }
      20% {
        transform: rotate(2.5deg);
      }
      40% {
        transform: rotate(-2.5deg);
      }
      60% {
        transform: rotate(1.5deg);
      }
      80% {
        transform: rotate(-1.5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    p {
      font-size: 12px;
    }

    :nth-child(1) {
      animation: shakeHead 3s ease-in-out infinite;
      animation-delay: 3s;
    }

    :nth-child(2) {
      animation: shakeHead 3.5s ease-in-out infinite;
      animation-delay: 2s;
    }

    :nth-child(3) {
      animation: shakeHead 5s ease-in-out infinite;
      animation-delay: 3s;
    }
  }

  .card h4 b {
    animation: none;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col {
      flex-basis: 30%;
      margin-bottom: 3rem;

      h4 {
        color: #72c3c7;
        font-size: 1.375rem;
        margin-bottom: 1rem;
      }

      p {
        color: white;
        font-size: 1.125rem;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }

    .col:first-child,
    .col:nth-child(2),
    .col:last-child {
      flex-basis: 100%;
    }

    .col:first-child {
      margin-bottom: 2rem;
    }

    .col:last-child {
      margin-top: 3rem;
    }

    .col:not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  img {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .step-1 {
    background-color: #141414;
    border-radius: 15px;
    padding: 2rem;
  }

  .step-2 {
    background-color: #141414;
    border-radius: 15px;
    padding: 2rem;
  }

  .step-3 {
    background-color: #141414;
    border-radius: 15px;
    padding: 2rem;
  }
}
